* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    background-color: #2F3E53;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Utility classes */

.green-text {
    color: #4ADF86
}

.white-text {
    color: #ECFDF5
}

.normal-input {
    border: none;
    color: #ECFDF5;
}

.error-input {
    border: 1px solid #F00;
    color: #F00;
}

/* Container */

.container {
    width: 500px;
    height: 600px;
    padding: 40px;
    background: #1F2937;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}

/* Mode */

#mode {
    display: flex;
    justify-content: flex-end;
}

#mode button {
    font-size: 0.8rem;
    padding: 7px 10px;
    color: #ECFDF5;
    background: #2F3E53;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Header */

.header-text {
    font-family: "Karla", sans-serif;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 0.5rem;
}

.tagline {
    font-weight: 400;
    color: #ECFDF5
}

/* Parameters */

#parameters {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    color: #ECFDF5;
    margin-top: 40px;
    gap: 20px;
    padding: 20px 10px;
    border: 1px solid #2F3E53;
}

.parameter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
    position: relative;
}

.parameter label {
    width: 200px;
    font-weight: 500;
    margin-top: 2px;
}

.parameter #password-length {
    padding: 5px;
    border-radius: 3px;
    background-color: #273549;
}

.parameter #password-length:focus {
    outline: none;
}

.parameter input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

.parameter input[type="checkbox"]:checked+label::before {
    content: "";
    display: block;
    position: absolute;
    text-align: center;
    height: 15px;
    width: 15px;
    left: 0;
    top: 0;
    background-color: #10B981;
    border-radius: 2px;
}

.parameter input[type="checkbox"]:checked+label::after {
    content: "";
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
}

/* Generate button */

.generate-btn {
    font-size: 0.8rem;
    color: #ECFDF5;
    width: 160px;
    padding: 8px 0;
    border: none;
    border-radius: 3px;
    background-color: #10B981;
    cursor: pointer;
    margin-top: 13px;
}

/* Passwords */

#passwords {
    display: flex;
    margin-top: 36px;
    border-top: 1px solid #2F3E53;
    gap: 34px;
}

#passwords .password-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    width: 200px;
    height: 39px;
    padding: 10px 0;
    background-color: #273549;
    border-radius: 5px;
    cursor: pointer;
}

#passwords .password-text .password-one,
#passwords .password-text .password-two {
    width: 150px;
    font-size: 0.8rem;
    font-weight: 700;
    color: #10B981;
    text-align: center;
}

#passwords .password-text .password-copy {
    width: 20px;
    height: 20px;
}

#passwords .password-text img {
    width: 100%;
    height: 100%;
    text-align: end;
    display: none;
}

#passwords .password-text:hover img {
    display: block;
}