* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background-color: #ECFDF5;
    --dark-gray-color: #273549;
    --light-gray-color: #6B7280;
    --text-color: #1F2937;
    --accent-color: #10B981;
    --error-color: #F00;
}

/* Utility classes */

.green-text {
    color: var(--accent-color)
}

.white-text {
    color: var(--text-color)
}

.normal-input {
    color: var(--text-color);
    border: 1px solid var(--light-gray-color);
}

.error-input {
    color: var(--error-color);
    border: 1px solid var(--error-color);
}

/* Body */

body {
    font-family: "Inter", sans-serif;
    background-color: var(--dark-gray-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.dark-mode {
    --background-color: #1F2937;
    --dark-gray-color: #273549;
    --light-gray-color: #6B7280;
    --text-color: #ECFDF5;
    --accent-color: #10B981;
    --error-color: #F00;
}

/* Container */

.container {
    width: 500px;
    height: 550px;
    padding: 40px;
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    border-radius: 3px;
}

/* Display mode */

#display-mode {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#display-mode .color-switch-label {
    width: 4em;
    height: 2em;
    /* font-size: 0.9rem; */
    border-radius: 10em;
    color: var(--text-color);
    background-color: var(--background-color);
    border: 2px solid var(--accent-color);
    position: absolute;
    cursor: pointer;
}

#display-mode .color-switch-label::before {
    content: "Light mode";
    position: absolute;
    display: inline-block;
    width: 12em;
    left: -6em;
    top: 0.3em;
}

#display-mode .color-switch-label .color-switch-toggle {
    width: 1.5em;
    height: 1.5em;
    background-color: var(--accent-color);
    position: absolute;
    border-radius: 10em;
    top: 0.15em;
    left: 0.1em;
    cursor: pointer;
    transition: all 250ms ease-in-out;
}

#display-mode #color-switch-input {
    display: none;
}

#display-mode #color-switch-input:checked ~ label .color-switch-toggle {
    transform: translateX(2em);
}

#display-mode #color-switch-input:checked ~ .color-switch-label::before {
    content: "Dark mode";
}

/* Header */

.header-text {
    font-family: "Karla", sans-serif;
    font-weight: 800;
    line-height: 1;
    margin-bottom: 0.5rem;
}

.tagline {
    font-weight: 400;
    color: var(--text-color)
}

/* Parameters */

#parameters {
    display: flex;
    flex-direction: column;
    font-size: 0.8rem;
    margin-top: 40px;
    gap: 20px;
    padding: 20px 10px;
    border: 1px solid var(--dark-gray-color);
}

.parameter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--text-color);
    gap: 5px;
    position: relative;
}

.parameter label {
    width: 200px;
    font-weight: 500;
    margin-top: 2px;
}

.parameter #password-length {
    padding: 5px;
    border-radius: 3px;
    background-color: var(--background-color);
}

.parameter #password-length:focus {
    outline: none;
}

.parameter input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

.parameter input[type="checkbox"]:checked+label::before {
    content: "";
    display: block;
    position: absolute;
    text-align: center;
    height: 15px;
    width: 15px;
    left: 0;
    top: 0;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.parameter input[type="checkbox"]:checked+label::after {
    content: "";
    display: block;
    position: absolute;
    left: 3px;
    top: 3px;
}

/* Generate button */

.generate-btn {
    font-size: 0.8rem;
    color: #ECFDF5;
    width: 160px;
    padding: 8px 0;
    border: none;
    border-radius: 3px;
    background-color: var(--accent-color);
    cursor: pointer;
    margin-top: 20px;
}

/* Password section */

#password-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#password-section .passwords {
    display: flex;
    margin-top: 20px;
    border-top: 1px solid var(--light-gray-color);
    gap: 34px;
}

#password-section .passwords .password-text {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    font-weight: 700;
    margin-top: 20px;
    width: 200px;
    height: 35px;
    padding: 10px 0;
    color: var(--accent-color);
    background-color: var(--dark-gray-color);
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

#password-section .copy-text {
    font-size: 0.8rem;
    color: var(--text-color);
}